@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html {
  font-family:
    "Circular Std",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0a0a0a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes wave {
  0% { height: 20%; }
  50% { height: 100%; }
  100% { height: 20%; }
}

.animate-wave {
  animation: wave 0.9s ease-in-out infinite;
}




@layer base {
  /* 1. Target EVERYTHING */
  * {
    caret-color: transparent; /* Hides the blinking vertical line */
    cursor: default;          /* Forces the arrow cursor (instead of the 'I' text bar) */
  }

  /* 2. EXCEPTION: Restore normal behavior for Inputs and Textareas */
  input, 
  textarea, 
  [contenteditable="true"] {
    caret-color: white; /* Or 'auto' / 'black' depending on your design */
    cursor: text;       /* Shows the 'I' bar so user knows they can type */
  }

  /* 3. EXCEPTION: Keep the 'Hand' cursor for clickable items */
  button, 
  a, 
  [role="button"] {
    cursor: pointer;
  }
}